.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.list {
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid grey;
}

.modal-window {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding: 20px;
}

.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  background: #FFF;
  line-height: 1;
}
.header-wrap .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrap .header-container .home-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-wrap .header-container .home-link .link-text {
  font-weight: bold;
}
.header-height {
  height: 48px;
}

.search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #F1F1F1;
}
.search-wrap .search-container .search-input-box {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
}
.search-wrap .search-container .search-input-box .close-button {
  display: flex;
  flex: 0 0 24px;
  padding: 12px 0;
  box-sizing: border-box;
}
.search-wrap .search-container .search-input-box .input-box {
  flex: 1 1 auto;
  position: relative;
  padding: 8px 0;
}
.search-wrap .search-container .search-input-box .input-box input {
  width: 100%;
  height: 32px;
  padding: 0 0 0 12px;
  border-radius: 16px;
  background: #0000000d;
}
.search-wrap .search-container .search-input-box .input-box .search-button-box {
  display: flex;
  gap: 26px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.search-wrap .search-container .search-list-box {
  background: #FFF;
}
.search-wrap .search-container .search-list-box .search-history-list .search-history-item + .search-history-item {
  border-top: 1px solid #0000000d;
}
.search-wrap .search-container .search-list-box .search-history-list .search-history-item .search-history-button {
  display: flex;
  padding: 12px 8px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #065fd4;
}
.search-wrap .search-container .search-list-box .search-suggestion-list {
  border: solid #0000000d;
  border-width: 1px 0;
}
.search-wrap .search-container .search-list-box .search-suggestion-list .search-suggestion-item {
  display: flex;
}
.search-wrap .search-container .search-list-box .search-suggestion-list .search-suggestion-item + .search-suggestion-item {
  border-top: 1px solid #0000000d;
}
.search-wrap .search-container .search-list-box .search-suggestion-list .search-suggestion-item .search-suggestion-button {
  display: flex;
  flex: 1 1 auto;
  padding: 12px 8px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #0F0F0F;
}
.search-wrap .search-container .search-list-box .search-suggestion-list .search-suggestion-item .search-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 38px;
  background: #0000000d;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow-x: scroll;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  padding: 8px 12px;
  border-top: 1px solid #0000001a;
  background: #FFF;
  box-sizing: border-box;
  line-height: 1;
  scrollbar-width: none;
}
.nav-wrap::-webkit-scrollbar {
  display: none;
}
.nav-wrap .menu-button {
  padding: 4px 8px;
  border-radius: 2px;
  background: #0000000d;
}
.nav-wrap .nav-container .nav-list {
  display: flex;
  gap: 12px;
}
.nav-wrap .nav-container .nav-list .nav-item .nav-button {
  padding: 9px 12px;
  border-radius: 8px;
  background: #0000000d;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
}
.nav-wrap .nav-container .nav-list .nav-item .nav-button.active {
  background: #000;
  color: #FFF;
}
.nav-height {
  height: 50px;
}

.function-wrap {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}
.function-wrap .write-button {
  padding: 8px 12px;
  border-radius: 8px;
  background: #0000000d;
  font-size: 0.875rem;
  font-weight: 500;
}

.post-list {
  border-top: 1px solid #0000001a;
}
.post-list .post-item {
  display: flex;
  gap: 12px;
  padding: 4px 12px 16px;
  border-bottom: 1px solid #0000001a;
}
.post-list .post-item .icon-button {
  display: flex;
  flex: 0 0 40px;
  height: 40px;
  margin: 8px 0 0;
}
.post-list .post-item .icon-button.React {
  background: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%22-10.5%20-9.45%2021%2018.9%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20className%3D%22text-sm%20me-0%20w-10%20h-10%20text-brand%20dark%3Atext-brand-dark%20flex%20origin-center%20transition-all%20ease-in-out%22%3E%3Ccircle%20cx%3D%220%22%20cy%3D%220%22%20r%3D%222%22%20fill%3D%22%23087ea4%22%3E%3C%2Fcircle%3E%3Cg%20stroke%3D%22%23087ea4%22%20strokeWidth%3D%221%22%20fill%3D%22none%22%3E%3Cellipse%20rx%3D%2210%22%20ry%3D%224.5%22%3E%3C%2Fellipse%3E%3Cellipse%20rx%3D%2210%22%20ry%3D%224.5%22%20transform%3D%22rotate(60)%22%3E%3C%2Fellipse%3E%3Cellipse%20rx%3D%2210%22%20ry%3D%224.5%22%20transform%3D%22rotate(120)%22%3E%3C%2Fellipse%3E%3C%2Fg%3E%3C%2Fsvg%3E") center/cover no-repeat;
}
.post-list .post-item .icon-button.Javascript {
  background: url("data:image/svg+xml;utf8,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22100%25%22 height=%22100%25%22 viewBox=%220%200%201052%201052%22><path fill=%22%23f0db4f%22 d=%22M0%200h1052v1052H0z%22></path><path d=%22M965.9%20801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8%206.9-27.9%2040.2-36.6%2066.6-28.6%2017%205.7%2033.1%2018.801%2042.8%2039.7%2045.4-29.399%2045.3-29.2%2077-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3%201.3-20.699%202.699-31%204-29.699%207.5-58%2023.1-74.6%2044-49.8%2056.5-35.6%20155.399%2025%20196.1%2059.7%2044.8%20147.4%2055%20158.6%2096.9%2010.9%2051.3-37.699%2067.899-86%2062-35.6-7.4-55.399-25.5-76.8-58.4-39.399%2022.8-39.399%2022.8-79.899%2046.1%209.6%2021%2019.699%2030.5%2035.8%2048.7%2076.2%2077.3%20266.899%2073.5%20301.1-43.5%201.399-4.001%2010.6-30.801%203.199-72.101zm-394-317.6h-98.4c0%2085-.399%20169.4-.399%20254.4%200%2054.1%202.8%20103.7-6%20118.9-14.4%2029.899-51.7%2026.2-68.7%2020.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699%2016.3-53.3%2032.699-80%2049%2013.301%2027.3%2032.9%2051%2058%2066.399%2037.5%2022.5%2087.9%2029.4%20140.601%2017.3%2034.3-10%2063.899-30.699%2079.399-62.199%2022.4-41.3%2017.6-91.3%2017.4-146.6.5-90.2%200-180.4%200-270.9z%22%20fill=%22%23323330%22></path></svg>") center/cover no-repeat;
}
.post-list .post-item .icon-button.JQuery {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 100 100'%3E%3Cg transform='matrix(.945094 0 0 .945094 6.301403 4.347014)'%3E%3Cpath d='M20.44 13.78c-5.283 7.733-4.625 17.793-.6 26l.296.585.2.37c.037.072.08.143.118.213.07.13.14.255.2.383l.385.673.22.37.447.712.2.3c.2.32.426.638.648.952.005.008.012.017.018.025.035.05.074.1.1.15.192.27.4.536.6.8l.222.288.545.682.208.254a31.65 31.65 0 0 0 .76.884l.016.016c.01.013.02.02.03.033a23.73 23.73 0 0 0 .772.83l.248.254.617.616.252.244a34.49 34.49 0 0 0 .845.783l.16.14.767.66.318.258.64.5.342.265.978.715c.025.017.047.035.072.052.23.16.463.315.697.47l.302.205 1.092.68.302.173.82.468c.15.082.303.16.453.238l.586.3.135.066.24.118.93.438.197.1a32.93 32.93 0 0 0 1.084.459l.264.106 1.023.386.128.046a34.62 34.62 0 0 0 1.14.38l.275.084c.4.12.775.263 1.177.34C67.457 62.6 74.88 42.218 74.88 42.218c-6.233 8.27-17.296 10.45-27.778 8.023-.397-.1-.782-.217-1.17-.334l-.292-.1c-.378-.118-.754-.243-1.126-.373l-.155-.057a35.02 35.02 0 0 1-.993-.375l-.28-.112a31.57 31.57 0 0 1-1.072-.454l-.214-.096-.904-.43-.26-.128a30.9 30.9 0 0 1-.7-.363l-.467-.25a26.89 26.89 0 0 1-.838-.479l-.283-.16c-.368-.22-.732-.45-1.092-.68-.1-.065-.196-.134-.295-.2l-.777-.526-.25-.18-.735-.54-.326-.25-.663-.528-.296-.24-.825-.7c-.028-.025-.06-.05-.1-.077-.294-.263-.583-.533-.868-.804l-.244-.24-.624-.622-.244-.25a31.33 31.33 0 0 1-.765-.824c-.012-.014-.026-.027-.038-.04a31.49 31.49 0 0 1-.776-.9l-.203-.246-.56-.703-.205-.26-.645-.875c-5.82-8.085-7.9-19.235-3.26-28.393M36.84 7.264c-3.82 5.6-3.613 13.094-.633 19.016a24.87 24.87 0 0 0 1.69 2.873c.572.835 1.207 1.83 1.967 2.5.275.3.563.6.857.906.074.077.15.15.226.227a25.21 25.21 0 0 0 .876.829c.012.01.023.022.036.032a26.31 26.31 0 0 0 1.031.87l.232.184a25.13 25.13 0 0 0 1.07.796.6.6 0 0 0 .03.023c.16.113.325.22.488.328.078.052.152.107.23.156a21.65 21.65 0 0 0 .793.495l.112.066.7.4c.082.047.166.088.25.132l.5.258c.025.013.05.023.074.035.337.17.676.33 1.023.485.074.033.15.063.226.095.277.12.557.236.84.347l.36.134a26.33 26.33 0 0 0 .77.273l.348.113c.367.117.73.263 1.113.328 19.725 3.328 24.28-12.14 24.28-12.14-4.105 6.02-12.054 8.894-20.538 6.652a21.09 21.09 0 0 1-1.117-.33c-.113-.035-.224-.072-.336-.1a22.36 22.36 0 0 1-.781-.274l-.353-.134c-.283-.1-.563-.225-.84-.345-.076-.033-.152-.063-.227-.098a19.53 19.53 0 0 1-1.03-.487c-.174-.087-.345-.178-.516-.268l-.298-.156a20.05 20.05 0 0 1-.653-.375l-.156-.1a25.46 25.46 0 0 1-.79-.492c-.08-.052-.158-.1-.238-.162l-.512-.345a27.46 27.46 0 0 1-1.066-.794l-.24-.192c-3.713-2.986-6.657-7.066-8.056-11.693-1.467-4.8-1.15-10.185 1.4-14.556m10.648-.38c-2.252 3.376-2.473 7.568-.9 11.296 1.648 3.957 5.025 7.062 8.966 8.533.162.062.325.117.5.173l.216.07c.232.074.463.16.702.206 10.892 2.143 13.846-5.692 14.632-6.845-2.588 3.795-6.937 4.706-12.273 3.387-.42-.105-.885-.26-1.3-.406a15.62 15.62 0 0 1-1.533-.649 15.81 15.81 0 0 1-2.688-1.671C52.167 12.8 49.2 5.762 52.316.03' fill='%230868ac'%3E%3C/path%3E%3Cg fill='%23131b28'%3E%3Cpath d='M26.576 74.06l-.738 2.616.738-2.615zm3.796 5.678l-.813-.005.813.005zm-.2 3.906l-4.872.018 4.872-.018zm1.02-3.9l-.814-.005.814.005zm-.582 3.568l.85-3.237-.85 3.237zm17.93-14.907l-1.58 7.433 1.58-7.433zm-4.065 0l-1.2 5.553 1.2-5.553z'%3E%3C/path%3E%3Cpath d='M48.26 68.07h-3.38c-.188 0-.374.15-.414.334l-2.4 11.107c-.04.183-.226.333-.413.333H39.26c-2.368 0-2.094-1.637-1.6-3.88l.015-.068.287-1.53.124-.63 1.092-5.332c.038-.184-.085-.335-.273-.335h-3.47a.44.44 0 0 0-.412.334l-1.563 7.414c-.86 3.924-.632 7.666 4.04 7.783l.135.003h7.332c.188 0 .373-.15.413-.334l3.162-14.866c.04-.184-.083-.334-.27-.334zm13.487 11.813c.188 0 .3.15.273.334l-.328 1.605m-.328 1.606l.328-1.606-.328 1.606zm-.412.338l-6.23.03 6.23-.03z'%3E%3C/path%3E%3Cpath d='M52.704 77.817c-.003-.176.197-.478.385-.478l-.422-.007c-.2 1.914.037.485.037.485zm2.326 5.978h-.065.065zm6.717-3.912c.188 0 .3.15.273.334l-.382 1.866M56.63 83.8h-.014.014zm-.83-.006h-.048.048zm-.253.001h-.08.08zm-.247 0h-.07.07zm.462-.001h-.205.205z'%3E%3C/path%3E%3Cpath d='M56.617 83.8l-.816.003.816-.003zm4.337-.025l-4.325.026 4.325-.026zm.4-.347l.275-1.344-.275 1.345zm-5.896.367H55.3h.178zm-.495 0h-.24.24zm.257 0h-.2.2zM5.76 77.857l.525-2.328-.6 2.66-.07.334.146-.668zm6.286-9.825H8.333a.45.45 0 0 0-.417.333l-.704 3.1a.26.26 0 0 0 .266.333h3.742c.188 0 .374-.15.414-.333l.68-3.107c.04-.183-.08-.333-.27-.333zm-.808 5.168l-1.1 5.038 1.1-5.038zM.452 89.895l3.062.024c-.904 0-2.397-.017-3.063-.025z'%3E%3C/path%3E%3Cpath d='M6.8 73.2l-.526 2.328L6.8 73.2zm4.17-.333H7.227a.45.45 0 0 0-.417.333l-1.05 4.656-.146.668-1 4.753a7.16 7.16 0 0 1-.18.657s-.7 2.08-1.874 2.057l-1.165-.022a.45.45 0 0 0-.42.326L.2 89.558a.26.26 0 0 0 .261.336l3.063.025c2.936 0 4.483-1.627 5.476-6.307l2.25-10.4c.04-.183-.082-.333-.27-.333zm53.162 10.738c-.188 0-.3-.15-.27-.334l2.815-13.186m1.367 13.185l1.14-5.628-1.14 5.628z'%3E%3C/path%3E%3Cpath d='M63.903 83.438c-.023-.092-.01-.317.03-.5l1.336-6.26-1.408 6.593c-.04.184.082.334.27.334h.342c-.188 0-.548-.075-.57-.167zm3.92.092c-.102.04-.34.075-.528.075h.342a.44.44 0 0 0 .41-.335l.068-.334c-.037.184-.2.553-.3.594zm.79-3.074l.503-2.484-.503 2.484zm11.108-9.488l.155.64c.043.183-.076.332-.263.333'%3E%3C/path%3E%3Cpath d='M68.112 82.936l.5-2.48-.5 2.48zM79.568 70.3l.153.656-.153-.656zm-10.452 7.672l.138-.664.537-2.515-.608 2.848-.067.33zm-2.393-8.104l-.117.55-1.336 6.26 1.408-6.593.045-.216z'%3E%3C/path%3E%3Cpath d='M79.877 71.608l-.155-.64-.23-1c-.304-1.18-1.196-1.863-3.134-1.863l-8.92-.006a.44.44 0 0 0-.412.334l-.138.653-.2.987-2.744 12.853c-.04.184-.053.4-.03.5s.383.167.57.167h2.82c.188 0 .425-.034.528-.075s.254-.4.3-.594l1.07-5.294 1.145-5.364c.04-.183.225-.332.412-.333l8.873-.004c.187 0 .306-.15.263-.333zM91.3 65.815l-.683.003h-2.84a.73.73 0 0 0-.534.282l-6.28 9.2c-.106.155-.227.132-.27-.05l-.462-2.027a.45.45 0 0 0-.417-.333h-4.037c-.188 0-.3.147-.248.328l1.8 6.338c.052.18.055.477.01.66l-.8 3.067a.25.25 0 0 0 .257.331h4c.188 0 .38-.15.426-.33l.8-3.067a2.04 2.04 0 0 1 .29-.604L92.518 66.08c.113-.15.052-.272-.136-.27l-1.07.007zm-32.076 7.937c-.024.2-.212.35-.4.35h-5.12c-.177 0-.267-.12-.24-.27l.004-.027.023-.087c.5-1.3 1.485-2.153 3.356-2.153 2.107 0 2.518 1.03 2.375 2.187zm-1.502-5.908c-6.57 0-8.127 3.988-9 8.013-.874 4.103-.798 7.94 6 7.94H55.8l.83-.003 4.326-.026a.44.44 0 0 0 .407-.335l.657-3.212c.038-.184-.085-.334-.273-.334h-6.112c-2.43 0-3.153-.646-2.887-2.545h9.77c.16-.003.305-.1.362-.252.01-.027.02-.056.024-.085 1.45-5.47 1.034-9.157-5.18-9.157zM26.668 73.73l-.092.327c0 .001-.738 2.616-.738 2.616l-.738 2.614a.48.48 0 0 1-.434.328H20.76c-2.962 0-3.683-2.317-2.962-5.734.72-3.495 2.135-5.668 5.05-5.888 3.984-.3 4.78 2.502 3.82 5.736zm2.678 5.685s1.84-4.47 2.26-7.053c.57-3.457-1.16-8.47-7.845-8.47-6.647 0-9.533 4.786-10.634 10-1.1 5.24.342 9.836 6.95 9.8l10.086-.037a.47.47 0 0 0 .427-.332l.85-3.238a.25.25 0 0 0-.255-.332l-1.627-.01c-.16-.001-.25-.104-.232-.24.004-.025.01-.05.02-.076z'%3E%3C/path%3E%3Cpath d='M62.25 76.424c0 .124-.1.224-.224.224s-.224-.1-.224-.224.1-.224.224-.224.224.1.224.224z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center/cover no-repeat;
}
.post-list .post-item .icon-button.CSS {
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224025%22%20height%3D%224025%22%20viewBox%3D%220%200%20362.73401%20511.99998%22%3E%3Cpath%20d%3D%22m437.367%20100.62-33.046%20370.199L255.778%20512l-148.134-41.123L74.633%20100.62z%22%20style%3D%22fill%3A%23264de4%22%20transform%3D%22translate%28-74.633%29%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22m376.03%20447.246%2028.24-316.352H256v349.629z%22%20style%3D%22fill%3A%232965f1%22%20transform%3D%22translate%28-74.633%29%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22m150.31%20268.217%204.07%2045.41H256v-45.41zM256%20176.305H142.132l4.128%2045.411H256zM256%20433.399v-47.246l-.199.053-50.574-13.656-3.233-36.217h-45.585l6.362%2071.301%2093.02%2025.823z%22%20style%3D%22fill%3A%23ebebeb%22%20transform%3D%22translate%28-74.633%29%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M85.367%200h55v23h-32v23h32v23h-55zM151.367%200h55v20h-32v4h32v46h-55V49h32v-4h-32zM217.367%200h55v20h-32v4h32v46h-55V49h32v-4h-32z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22m311.761%20313.627-5.271%2058.894-50.647%2013.67v47.244l93.094-25.801.683-7.672%2010.671-119.551%201.108-12.194%208.198-91.912H255.843v45.411h63.988l-4.132%2046.501h-59.856v45.41z%22%20style%3D%22fill%3A%23fff%22%20transform%3D%22translate%28-74.633%29%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center/cover no-repeat;
}
.post-list .post-item .icon-button.HTML {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23E44D26' d='M107.644 470.877 74.633 100.62h362.734l-33.046 370.199L255.778 512z'%3E%3C/path%3E%3Cpath fill='%23F16529' d='m256 480.523 120.03-33.277 28.24-316.352H256z'%3E%3C/path%3E%3Cpath fill='%23EBEBEB' d='M256 268.217h-60.09l-4.15-46.501H256v-45.411H142.132l1.087 12.183 11.161 125.139H256zM256 386.153l-.199.053-50.574-13.656-3.233-36.217h-45.585l6.362 71.301 93.02 25.823.209-.058z'%3E%3C/path%3E%3Cpath d='M108.382 0h23.077v22.8h21.11V0h23.078v69.044H152.57v-23.12h-21.11v23.12h-23.077V0zM205.994 22.896h-20.316V0h63.72v22.896h-20.325v46.148h-23.078V22.896zM259.511 0h24.063l14.802 24.26L313.163 0h24.072v69.044h-22.982V34.822l-15.877 24.549h-.397l-15.888-24.549v34.222h-22.58V0zM348.72 0h23.084v46.222h32.453v22.822H348.72V0z'%3E%3C/path%3E%3Cpath fill='%23FFF' d='M255.843 268.217v45.41h55.918l-5.271 58.894-50.647 13.67v47.244l93.094-25.801.683-7.672 10.671-119.551 1.108-12.194h-12.237zM255.843 176.305V221.716h109.688l.911-10.207 2.069-23.021 1.086-12.183z'%3E%3C/path%3E%3C/svg%3E") center/cover no-repeat;
}
.post-list .post-item .post-button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1 1 auto;
  padding: 8px 0 0;
}
.post-list .post-item .post-button .post-title {
  font-size: 0.875rem;
  font-weight: 500;
}
.post-list .post-item .post-button .post-text {
  font-size: 0.75rem;
  color: #666;
}
.post-list .post-item .more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
  height: 48px;
}

.modal-window-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}
.modal-window-overlay .modal-window-wrap {
  display: flex;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] {
  width: 70%;
  height: 100%;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  width: 100%;
  background: #FFF;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .logo-link {
  display: flex;
  flex: 0 0 48px;
  width: 48px;
  padding: 12px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: scroll;
  scrollbar-width: none;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap::-webkit-scrollbar {
  display: none;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list + .menu-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #0000001a;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list .menu-link {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 12px 18px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .menu-wrap .menu-list .menu-link .link-icon {
  display: flex;
  width: 24px;
  height: 24px;
}
.modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
  font-size: 0.75rem;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 8px 24px;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  background: #FFF;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .drag-handle-box {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .drag-handle-box .drag-handle {
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background: #0F0F0F;
  opacity: .15;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list {
  display: flex;
  flex-direction: column;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item {
  padding: 12px;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button .icon {
  display: flex;
  width: 24px;
  height: 24px;
}
.modal-window-overlay .modal-window-wrap[data-modal="more"] .modal-window-container .more-list .more-item button .button-text {
  display: flex;
  gap: 4px;
}

.modal-window-overlay .modal-window-wrap[data-modal="write"] {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 8px 24px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 16px;
  background: #FFF;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container select {
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 0.875rem;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container input {
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 0.875rem;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container textarea {
  height: 84px;
  padding: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 0.875rem;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container .button-box {
  display: flex;
  gap: 12px;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container .button-box button {
  width: 100%;
}
.modal-window-overlay .modal-window-wrap[data-modal="write"] .modal-window-container .button-box .regist-button {
  padding: 11px 0;
  background: #065fd4;
  font-size: 0.875rem;
  font-weight: 500;
  color: #FFF;
}

.modal-window-overlay .modal-window-wrap[data-modal="detail"] {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 8px 24px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px;
  border-radius: 16px;
  background: #FFF;
  box-sizing: border-box;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .title-box .box-title {
  font-size: 0.875rem;
  font-weight: bold;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .title-box .date {
  font-size: 0.75rem;
  color: #666;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .text-box .box-text {
  min-height: 84px;
  font-size: 0.875rem;
  text-align: left;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container .favorite-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #0000000d;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container .favorite-button .icon {
  display: flex;
  width: 16px;
  height: 16px;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container .favorite-button .button-text {
  display: flex;
  gap: 4px;
  font-size: 0.75rem;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container .button-box {
  display: flex;
  gap: 8px;
}
.modal-window-overlay .modal-window-wrap[data-modal="detail"] .modal-window-container .button-container .button-box button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  background: #0000000d;
  font-size: 0.75rem;
}

@media (max-width:359px) {
  .project-wrap .project-container .project-detail-box .detail-link .detail-box span {
      width: 100%;
  }
  .project-wrap .project-container .project-detail-box .detail-link .detail-box span:after {
      content: none;
  }
  .modal-window-overlay .modal-window-wrap[data-modal="menu"] .modal-window-container .copyright {
      font-size: 0.625rem;
  }
}
